.table-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.table-header input {
  padding: 10px;

  width: 250px;

  border-radius: 8px;

  border: 1px solid #d1d5db;
}

.details-link {
  color: #2563eb;

  font-weight: 600;

  text-decoration: none;
}

.details-link:hover {
  text-decoration: underline;
}
